<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" >
</head>
<body>
<h3>CH {{ ch }}: {{ name }}</h3>
<a href="http://tv.alticastus.com:8090/tv/04">CBS</a>
<a href="http://tv.alticastus.com:8090/tv/07">ABC</a>
<a href="http://tv.alticastus.com:8090/tv/09">NBC</a>
<!--
<a href="http://tv.alticastus.com:8090/tv/31">FOX</a>
-->
<a href="http://tv.alticastus.com:8090/tv/59">ION</a>
<a href="http://tv.alticastus.com:8090/recordstart/{{ ch }}">Record</a>
<a href="http://tv.alticastus.com:8090/recordlist/">Record List</a>
<br>
<video id="video1" controls width="1280" height="720" autoplay>
    <source src="http://50.207.206.171/tv/hls/ch{{ ch }}/ch{{ ch }}.m3u8">
</video>

<br><br>
* Press "Record" link to start recording this channel.
<br>
* Once you start recording, make sure to press "Stop" link to stop the recording properly. 
<script>
var video = document.getElementById('video1');
video.volume = {{ volume }};

</script>

</body>
</html>
